.feedBackOptions{
    width: 70px;
    border-radius: 5px;
    margin-top: 10px;

}

.feedBackOptions:not(:last-child){
    margin-right: 10px;
}

.feedBackOptions:active{
    background-color: black;
    color: aliceblue;
}
